.blue {
    color:#6473FA;
}
.dark-gr {
    color: #c4c4c4;
}
.lg-gr {
    color: #767676
}
.fs15 {
    font-size: 15pt;
}
.fs13 {
    font-size: 13pt;
}
.fs16 {
     font-size: 15pt;
    font-weight: bold;
 }
.f15 {
    font-size: 14pt;
    margin: 0;
    padding: 0;
}
.f14 {
    font-size: 12pt;
}
p {
    margin: 0;
    padding: 0;
}
.size-p {
    font-size: 16pt;
}

.hrstyle {
    margin-top: 40px;
}
.toppad {
    margin-top: 10px;
    margin-bottom: 0;
}
.inleftpading {
   padding-right: 10px;
}
.bold {
    font-size: 15pt;
    font-weight: bold;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 767px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 767px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}