@media screen and (max-width: 768px) {
    .box1 {
        width: 8%;
        display:inline-block;
        margin: 0;
    }
    .box2 {
        width: 82%;
        display:inline-block;
        margin: 0;
    }
    .box3 {
        width: 8%;
        display:inline-block;
        margin: 0;
    }
    .text {
        padding: 2px 0;
        color:white;
        font-weight:bold;
        text-align:center;
    }.box-m1 h5 {
             font-size: 15pt;
             font-weight: bold;
         }
    .box-m1 {
        top:0;
        left:0;
        width:100%;
        display:inline-block;
        margin: 0;
        position: relative;
        font-size: 15pt;
        font-weight: bold;
    }
    .box-m2 {
        top:0;
        right: 0;
        width: 10%; position: absolute;
        float: right;
        display:inline-block;
    }
    #container {
        white-space:nowrap;
        text-align:center;
    }
    .main-nav-title {
        font-size: 14pt;
    }
    .box-suv {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .box-suv-title {
        font-size: 15pt;
        font-weight: bold;
        margin: 0;
        margin-top: -5px;
    }
    .paper-title {
        font-size: 14pt;
        margin-top: -8px;
    }

    .divTable {
        display: table;
        width: 100%;
        margin-top: 31px;
    }

    .divTableRow {
        display: table-row;
        height: 140px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        display: table-cell;
        padding: 10px 10px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

    /*Reader - 1 */
    .title-a1 {
        font-size: 16pt;
        margin: 0px;
        padding: 0;
    }
    .lead-text {
        font-size: 14pt;
        margin-bottom: 20px;
    }
     /* ./ Reader - 1 */
    .xlstyle {
        font-size: 20pt;
    }

    .ft-block-1 {
        display: inline-block;
        float: left;
        width: 40%;
        font-size: 15pt;
        bottom: 7px;
        position: relative;
        height: 43px;
    }

    .ft-block-1 input {
        border: 1px solid #FFFBED;
        padding-left: 30px;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 0 20px 0;
        font-size: 15pt;
        font-weight: bold;
        padding-bottom:19px;
    }

    .ft-block {
        display: inline-block;
        float: left;
        width: 60%;
        font-size: 15pt;
        bottom: 7px;
        position: relative;
        height: 43px;
    }

    .close {
        width: 100%;
        height: 20px;
    }

    .close-btn {
        font-size: 18pt;
        margin-right: 10px;
    }

    .info-box {
        position: relative;
        margin-bottom: 100px;
        height: 64px;
        -webkit-box-shadow: 0px -10px 13px -7px rgba(196, 196, 196, 1);
        -moz-box-shadow: 0px -10px 13px -7px rgba(196, 196, 196, 1);
        box-shadow: 0px -10px 13px -7px rgba(196, 196, 196, 1);
    }

    .shadow {
        -webkit-box-shadow: 0px -2px 5px 0px rgba(196, 196, 196, 1);
        -moz-box-shadow: 0px -2px 5px 0px rgba(196, 196, 196, 1);
        box-shadow: 0px -2px 5px 0px rgba(196, 196, 196, 1);
    }

    .closebtn {
        background: none;
        border: none;
        color: gray;
        margin-right: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        float: right;
        position: absolute;
    }

    .buble-block {
        margin-top: 15px;
        height: 40px;
        margin-bottom: 20px;
    }

    .title-a1 {
        font-size: 16pt;
        margin: 0px;
        padding: 0;
    }

    .title-a2 {
        margin-top: 17px;
        font-size: 14pt;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    .nbslide p {
        border-right: 1px solid;
        padding: 9px;
        margin: 10px;
    }

    .col1, .col2, .col3 {
        display: table-cell;
    }

    .div-col {
        height: 34px;
    }

    .top-sp {
        margin-top: 5px;
    }

    .cbs-name {
        font-size: 15pt;
        font-weight: bold;
    }

    .cbs-name-s1 {
        color: #c4c4c4;
        font-size: 14pt;
    }
    .linespace {
        margin-top:1px;
        margin-bottom: 1px;
    }
    .inline-block {
        height: 64px;
    }

    .animate-block-graph {
        height: 352px;
        width: 90%;
        margin: 0px auto;
        margin-top: 1px;
    }

    .mid-block {
        height: 20px;
    }

    .filter-block {
        height: 40px;
        border: 1px solid;
    }

    .sidebar {
        display: none;
    }

    .main-head-paper-m1 {
        margin-top: -48px;
        height: 15px;
        font-size: 14pt;
        position:relative;
    }
    .main-head-paper-m1 h5 {
        font-size: 14pt;
    }
    /*Papers*/
    .main-head-paper {
        margin-top: -18px;
        height: 44px;
    }
    .main-head-paper1 {
        margin-top: -17px;
    }
    .main-head-paper-xs {
        margin-top: -17px;

    }

    .intro-text {
        font-size: 14pt;
    }

    .main-head-paper h5 {
        margin: 0;
        padding: 0;
    }
    .wrap-blck-desk {
        display: none;
    }
    .sub-title-paper-s1 {
        font-size: 15pt;
        font-weight: bold;
        margin-top: 2px;
        padding: 0;
    }
    .sub-title-paper {
        font-size: 14pt;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .sub-title-paper-vs {
        font-size: 15pt;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .singleine {
        margin-top: 12px;
    }

    .sub-title-paper-search {
        font-size: 14pt;
        margin-top: -3px;
        font-weight: bold;
        padding: 0;
    }

    .sub-top {
        margin-bottom: 44px;
    }

    .add-on {
        margin-top: -5px;
    }

    .sub-top h4 {
        margin: 0;
        padding: 0;
    }

    .search-title {
        margin-top: 2px;
    }

    .inline-box {
        display: inline-block;
    }

    .content-block {
        margin-top: 6px;
        height: 303px;;
    }
    .spacer {
        margin: 0 10px 0 10px;

    }
    .sub-h5 {
        height: 20px;
    }

    .sub-h5 h5 {
        margin: 0;
        padding: 0;
        font-size: 14pt;
        margin-top: 6px;
    }

    .animate-block {
        width: 100%;
        height: 100px;
    }

    .slide-block {
        width: 100%;
        height: 64px;
        border: 1px solid;
        border: 0px;
    }

    .row-slide {
        width: 90px;
        border-right: 1px solid #c4c4c4;
        margin: 0px;
        padding: 5px;
        display: inline-block;
    }

    /* Reader */
    .main-reader {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .main-reader-1 {
        margin-left: 10px;
        margin-right: 10px;

    }
    .main-head-reader {
        font-size: 20pt;
        margin: 0;
        margin-top: -10px;
    }

    .sub-head-reader {
        font-size: 14pt;
    }

    .reader-p {
        font-size: 16pt;
        font-weight: bold;
    }

    .main-content-reader {
        margin-top: 40px;
    }
    .devider-1l {
        margin-top: 5px;
    }
    .devider {
        margin-top: 10px;
    }
    .main-content-reader-1 {
        margin-top: 11px;
        line-height: 20px;
    }

    .space-xm {
        margin-top: 100px;
    }

    .space-xm-1 {
        margin-top: 74px;
    }

    .fontsi {
        font-size: 16pt;
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
        padding-right: 0;
    }

    .space-xs {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .cont {
        width: 100%;
    }

    .left-div {
        display: inline-block;
        width: 45%;
        text-align: left;
    }

    .right-div {
        display: inline-block;
        width: 45%;
        text-align: right;
    }

    /*./ Reader*/
    .left-db {
        float: left;
    }

    .right-db {
        float: right;
    }

    /*Search*/
    .spacex {
        margin-top: 25px;
        font-size: 15pt;
    }
    .spacetop {
        padding-top: 15px;
    }
    .spacex-1 {
        margin-top: 17px;
        font-size: 15pt;
    }

    .title-head {
        font-size: 14pt;
        font-weight: bold;
        margin-top: 27px;
        margin-bottom: 10px;
    }

    .search-res {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 16px;
    }

    .spaceline {
        line-spacin: 20px;;
    }

    .range-slider {
        height: 60px;
    }

    .active-dark {
        color: black;
    }

    .mt-sliderdiv {
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .mt-sliderdiv_p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-sr-title-x3 {
        margin-top: 26px;
        margin-bottom: 19px;
    }

    .main-sr-title-x5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-sr-title-x2w {
        margin-top: 4px;
        margin-bottom: 2px;
    }

    .animate-block-c4 {
        height: 40px;
        margin-bottom: 10px;
    }

    .main-sr-title-x1{
        height: 18px;
        margin: 0;
    }

    .main-sr-title-x11 {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .main-sr-title-x2 {
        margin-top: 23px;
        margin-bottom: 23px;
    }

    .main-sr-title-x2a {
        margin-top: 6px;
        margin-bottom: 18px;
    }

    .main-sr-title-x2aa {
        margin-top: 6px;
        margin-bottom: 18px;
    }

    .navbar-form {
        height: 40px;
    }

    .hrline-1 {
        margin-top: 15px;
    }

    .btn-search {
        background: #FFFBED;
        border-left: 0;
        border-radius: 0;
        height: 40px;
    }

    .btn-search-r {
        background: #FFFBED;
        border-left: 0;
        border-radius: 0;
        height: 40px;
        border-right: 0;

    }

    input[type=text], select {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        height: 40px;
        background: #FFFBED;
        border-radius: 0;
        border-right: 1px solid #FFFBED;
        border-left: 0;
        box-shadow: none;
    }

    .form-control:focus {
        border-color: #cccccc;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*./Search*/
    #flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .flex-item {
        width: 50%;
        height: 19px;
    }
    .flex-item h5{
        font-size: 14pt;
    }

}

#TouchScroller div.scrollableArea * {
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}

