@media screen and (max-width: 600px) {
    /* DivTable.com */

    .nbslide p{
        border-right: 1px solid;
        padding: 9px;
        margin: 10px;
    }
    .col1, .col2, .col3 {
        display:table-cell;
    }
    .div-col {
        height: 34px;
    }
    .top-sp {
        margin-top: 5px;
    }
    .cbs-name {
        font-size: 15pt;
        font-weight: bold;
    }
    .cbs-name-s1 {
        color: #c4c4c4;
        font-size: 14pt;
    }
    .inline-block {
        width: 150px;
        border-right: 1px solid;
        height: 50px;
    }
    .animate-block-graph {
        height: 320px;
        width: 90%;
        border: 1px solid;
        margin: 0px auto;
    }
    .filter-block {
        height: 40px;
        border:1px solid;
    }
    .sidebar {
        display: none;
    }
    /*Papers*/
    .main-head-paper {
        margin-top: -19px;
    }
    .main-head-paper h5{
        font-size: 14pt;
        margin: 0;
        padding: 0;
    }
    .sub-title-paper {
        font-size: 14pt;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .singleine{
        margin-top: 12px;
    }
    .sub-title-paper-search {
        font-size: 14pt;
        margin-top: -3px;
        font-weight: bold;
        padding: 0;
    }
    .sub-top {
        margin-bottom: 40px;
    }
    .sub-top h4 {
        margin: 0;
        padding: 0;
    }
    .search-title {
        margin-top: 2px;
    }
    .inline-box {
        display: inline-block;
    }
   .content-block {
        margin-top: 6px;
        height:303px; ;
   }
   .sub-h5 {
       height: 20px;
   }

   .sub-h5 h5 {
       margin: 0;
       padding: 0;
       font-size: 14pt;
       margin-top: 6px;
   }
   .animate-block {
       width: 100%;
       height:100px;
   }
   .slide-block {
       width: 100%;
       height: 64px;
       border: 1px solid;
       border: 0px;
   }
    .row-slide {
        width: 90px;
        border-right: 1px solid #c4c4c4;
        margin: 0px;
        padding: 5px;
        display: inline-block;
    }
/* Reader */
    .main-reader {
        margin-top: 40px;

    }
    .main-head-reader {
        font-size: 20pt;
        margin: 0;
        margin-top: -10px;
    }
    .sub-head-reader {
        font-size: 14pt;
    }
    .reader-p {
        font-size: 16pt;
        font-weight: bold;
    }
    .main-content-reader {
        margin-top: 40px;
    }
    .main-content-reader-1 {
        margin-top: -4px;
    }
    .space-xm {
        margin-top: 100px;
    }
    .space-xm-1 {
        margin-top: 84px;
    }
    .fontsi {
        font-size: 16pt;
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
        padding-right: 0;
    }
    .space-xs {
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .cont {
        width: 100%;
    }
    .left-div
    {
        display: inline-block;
        width: 45%;
        text-align: left;
    }
    .right-div
    {
        display: inline-block;
        width: 45%;
        text-align: right;
    }
/*./ Reader*/
    .left-db {
        float:left;
    }
    .right-db {
        float:right;
    }
    /*Search*/
    .spacex {
        margin-top: 25px;
        font-size: 15pt;
    }
    .search-res {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
    }
    .spaceline {
        line-spacin:20px; ;
    }

    .range-slider {
        height: 60px;
    }
    .main-sr-title {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .main-sr-title-x1 {
        height: 20px;
    }
    .main-sr-title-x2 {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .navbar-form {
        height: 40px;
    }
    .btn-search {
        background: #FFFBED;
        border-left: 0;
        border-radius: 0;
        height: 40px;
    }
    .btn-search-r {
        background: #FFFBED;
        border-left: 0;
        border-radius: 0;
        height: 40px;
        border-right: 0;

    }
    input[type=text], select {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        height: 40px;
        background: #FFFBED;
        border-radius: 0;
        border-right: 1px solid #FFFBED;;
        border-left: 0;
    }
    .form-control:focus{
        border-color: #cccccc;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /*./Search*/

}


#TouchScroller div.scrollableArea *
{
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}

