@media only screen and (min-width: 768px) {
    /* For desktop: */
    #touchScroller {
        display: none;
    }
    .search-res {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 16px;
    }
    .search-res h5 {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 36px;
        text-align: left;
    }
    .sub-title-paper {
        font-size: 18pt;
        font-weight: bold;
        margin-bottom: 10px;
    }
    input[type=text], select {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        height: 40px;
        background: #FFFBED;
        border-radius: 0;
        border-right: 1px solid #FFFBED;;
        box-shadow: none;
    }
    .wrapin {
        width: 80%;
    }

     .ds-tps {
         border: 1px solid red;
         height: 400px;
         background: red;
         height: 500px;
         color: white;
     }
    .ds-tps p{
        display: block;
        height: 200px;
    }
    .bottomspace {
        margin-bottom: 100px;
    }
    .menu-handle {
        display: none;
    }
    .title-head {
        font-size: 18pt;
        font-weight: bold;
        margin-top: 127px;
        margin-bottom: 10px;
    }
    .ds-title {
        text-align: left;
    }
    .lead-article {
        margin-bottom: 100px;
    }
    .main-content-reader-1{
        font-size: 14pt;
        margin-top: 30px;
        line-height: 20px;
    }
    .main-head-paper {
        font-size: 30px;
    }
    .ft-block-1 {
        display: inline-block;
        float: left;
        width: 40%;
        font-size: 15pt;
        bottom: 0;
        position: relative;
        height: 43px;
    }

    .ft-block-1 input {
        border: 1px solid #FFFBED;
        padding-left: 30px;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 0 10px 0;
        font-size: 15pt;
        font-weight: bold;

    }

    .ft-block {
        display: inline-block;
        float: left;
        width: 60%;
        font-size: 15pt;
        bottom: 0;
        position: relative;
        height: 43px;
    }

    .close {
        width: 100%;
        height: 20px;
    }
    .close-btn {
        margin-right: 10px;
    }

    .info-box {
        position: relative;
        margin-bottom: 100px;
        height: 64px;
        -webkit-box-shadow: 0px -10px 13px -7px rgba(196, 196, 196, 1);
        -moz-box-shadow: 0px -10px 13px -7px rgba(196, 196, 196, 1);
        box-shadow: 0px -10px 13px -7px rgba(196, 196, 196, 1);
    }
    .spacex-1 {
        margin-top: 17px;
        font-size: 15pt;
        text-align: left;
    }

    .maincontent {
        min-height: 70%;
        margin: 0px auto;
    }
    .btn-search {
        background: #FFFBED;
        border-left: 0;
        border-radius: 0;
        height: 40px;
    }
    .btn-search-r {
        background: #FFFBED;
        border-left: 0;
        border-radius: 0;
        height: 40px;
    }

    .form-control:focus{
        border-color: #cccccc;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .divTable{
        display: table;
        width: 100%;
        margin-top: 40px;
    }
    .divTableRow {
        display: table-row;
        height: 140px;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    .divTableCell, .divTableHead {
        display: table-cell;
        padding: 3px 10px;

    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }
    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }
    .divTableBody {
        display: table-row-group;
    }

    /*Reader - 1 */
    .title-a1 {
        font-size:16pt;
        margin: 0px;
        padding: 0;
    }
    .title-a2 {
        margin-top: px;
        font-size:14pt;
        font-weight: bold;
    }

    /* ./ Reader - 1 */
    .xlstyle {
        font-size: 20pt;
    }
    .csc {
        width: 80%;
        margin: auto;
        padding-top: 50px;
    }
    .main-head-reader {
        font-size: 25pt;
    }

    .title-a1 {
        font-size:16pt;
        margin: 0px;
        padding: 0;
    }
    .title-a2 {
        margin-top: 17px;
        font-size:14pt;
        font-weight: bold;
    }
    .lead-text {
        font-size: 14pt;
        margin-bottom: 30px;
    }

    .ds {
        width: 70%;
    }



}

#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}

#slider-range {
    width: 100%;
    margin: 0 auto;
}
#time-range {
    width: 400px;
}
.br {
    border:1px solid red;
    padding: 10px;
}
.brs {
    background: #c4c4c4;
}
.bp {
    padding: 5px;
}


