@import "mobile.css";
@import "links.css";
body {
    background: #FFFBED;
    font-family: 'Karla', sans-serif;
    font-size: 14pt;
}
.maincontent {
    min-height: 70%;
}
.dropmodel {
    font-size: 15px;
    color: #6473FA;

}
.inline-box {
    display: inline-block;
}
.left-block {
    width: 50%;
    float: left;
}
.right-block {
    width: 50%;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.content{
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position:relative;
}
.sidebar {
    float: right;
    min-width: 220px;
    max-width: 220px;
    background: #6473FA;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}
.sidebar ul li {
    margin-top: 80px;
}
.sidebar-header {
    padding: 30px;
}
.sidebar li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 16pt;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}
.sidebar li:nth-last-child(1) {
    margin-bottom: 80px;
}

.title-head {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 68px;
}
.sub-title {
    font-size: 14pt;
    margin-top: 28px;
}
.sub-title-y {
    margin-top: 80px;
    font-size: 14pt;
}
.sub-title-y1{
    margin-top: 88px;
    font-size: 14pt;
    color: #6473FA;
}
.sub-title-y2{
    margin-top: 80px;
    font-size: 14pt;
}
.wrap-box {
    text-align: center;
    color:#6473FA;
    margin-top: 50px;
}
.floating-box {
    width: 72px;
    height: 72px;
}
.wrap-float-box {
    display: inline-block;
    width: 72px;
    height: 72px;
    border: 1px solid #6473FA;
}
.wrap-float-box:nth-child(2){
    margin-left: 80px;
}
.block-dot {
    margin: 0 36px 0 36px;
}
.dot {
    padding: 0;
    height: 2px;
    width: 2px;
    background-color: #6473FA;
    display: inline-block;
    margin-top: -2.5px;
    margin-right: 10px;
    margin-bottom: -2.5px;
}
.dot-1 {
    padding: 0;
    height: 2px;
    width: 2px;
    background-color: #6473FA;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 2.5px;
}
.hrline {
    margin-top: 240px;
}
.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*Footer*/
.footer {
    bottom:0;
    width:100%;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer li {
    list-style: none;
    margin-bottom: 40px;
}
.footer li a{
    text-decoration: none;
}
.footer li a:hover{
    color: #767676
}
.nopadd {
    margin: 0;
    padding: 0;
}
.sub-title-y2a {
    margin: 16px 36px 22px 36px;
    font-size: 14pt;
}
.wrap-sub {
    margin: 26px 36px 22px 36px;
    font-size: 14pt;
    padding: 10px 0 10px 0;
}
.sub-title-y2-ainlie-2 {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: right;
}
.sub-title-y2-ainlie {
    display: inline-block;
    width: 50%;
    float: left;
}
.menu-handle {
    margin-top: 8px;
    border-top:2px solid;
    width: 30px;
    color: #6473FA;
    margin-left: 10px;
}
.menu-handle-1 {
    margin-top: 8px;
    width: 30px;
    color: #6473FA;
    margin-right: 10px;
}
.menu-handle2 {
    margin-top: 8px;
    border-top:2px solid;
    width: 30px;
    color: #6473FA;
    margin-right: 10px;
}
.menu-t {
    margin: 0;
    font-size: 12px;
    color: #6473FA;
}
.wrap-sub:nth-last-child(2){
    margin-bottom: 22px;
}
.dvd {
    width: 100%;
    min-height: 100px;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}