@import "mobile.css";
@import "links.css";
@import "reader.css";
.h1 .h2 .h3 .h4 .h5 .h6 {
    margin: 0;
    padding: 0;
}
body {
    background: #FFFBED;
    font-family: 'Karla', sanis-serif;
    font-size: 14pt;
    line-height: 20px;
}
.top-left-corner {
    top:0;
    left:0;
    position: relative;

}
.res-slim {
    background: #6473FA;
    width: 50px;
    height: 5px;
    border-radius: 20px;
    margin-left: 5px;

}
.res-slim-1 {
    background: #6473FA;
    width: 50px;
    height: 7px;
    border-radius: 20px;
    margin-left: 5px;


}
.res-info {
    color: #c4c4c4;
}
.block-box {
    height: 320px;
}
.top-left-corner:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    right:10px; /*change this for the size of the gap*/
    border-bottom: 1px solid #c4c4c4;
    left: 10px;
}

.top-left-corner:before {
    content:'';
    position:absolute;
    top:10px;
    right:0;
    bottom:10px;     /*change this for the size of the gap*/
    border-right: 1px solid #c4c4c4;
}
.top-right-corner {
    top:0;
    left:0;
    position: relative;

}

.top-right-corner:after {
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    left:10px; /*change this for the size of the gap*/
    border-bottom: 1px solid #c4c4c4;
    right: 10px;
}


.maincontent {
    min-height: 70%;
}
.dropmodel {
    font-size: 15px;
    color: #6473FA;

}
.inline-box {
    display: inline-block;
}
.left-block {
    width: 50%;
    float: left;
}
.right-block {
    width: 50%;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.content{
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position:relative;
}
.sidebar {
    float: right;
    min-width: 220px;
    max-width: 220px;
    background: #6473FA;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}
.sidebar ul li {
    margin-top: 80px;
}
.sidebar-header {
    padding: 30px;
}
.sidebar li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 16pt;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}
.sidebar li:nth-last-child(1) {
    margin-bottom: 80px;
}

.sub-title-c1 {
    font-size: 14pt;
    margin-top: 8px;
}
.sub-title {
    font-size: 14pt;
}
.sub-title-y {
    margin-top: 18px;
    font-size: 14pt;
}
.sub-title-y1{
    margin-top: 88px;
    font-size: 14pt;
    color: #6473FA;
}
.sub-title-y1z{
    margin-top: 68px;
    font-size: 14pt;
    color: #6473FA;
}
.sub-title-y2{
    margin-top: 40px;
    font-size: 14pt;
}
.wrap-box {
    text-align: center;
    color:#6473FA;
    margin-top: 44px;
}
.floating-box {
    width: 72px;
    height: 72px;
}
.wrap-float-box {
    display: inline-block;
    width: 72px;
    height: 72px;
    border: 1px solid #6473FA;
}
.wrap-float-box:nth-child(2){
    margin-left: 78px;
}
.block-dot {
    margin: 0 36px 0 36px;
}
.dot {
    padding: 0;
    height: 2px;
    width: 2px;
    background-color: #6473FA;
    display: inline-block;
    margin-top: -2.5px;
    margin-right: 10px;
    margin-bottom: -2.5px;
}
.dot-1 {
    padding: 0;
    height: 2px;
    width: 2px;
    background-color: #6473FA;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 2.5px;
}
.hrline {
    margin-top: 240px;
}
.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*Footer*/
.footer {
    bottom:0;
    width:100%;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer li {
    list-style: none;
    margin-bottom: 40px;
}
.footer li a{
    text-decoration: none;
    color: #6473FA;
}
.footer li a:hover{
    color: #767676
}
.nopadd {
    margin: 0;
    padding: 0;
}
.sub-title-y2a {
    margin: 5px 36px 16px 36px;
    font-size: 14pt;
}
.wrap-sub {
    margin: 26px 36px 22px 36px;
    font-size: 14pt;
    padding: 10px 0 10px 0;
}
.sub-title-y2-ainlie-2 {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: right;
}
.sub-title-y2-ainlie {
    display: inline-block;
    width: 50%;
    float: left;
}
.menu-handle {
    margin-top: 7px;
    border-top:2px solid;
    width: 30px;
    color: #6473FA;
    margin-left: 10px;
}
.menu-handle-1 {
    margin-top: 8px;
    width: 30px;
    color: #6473FA;
    margin-right: 10px;
}
.menu-handle2 {
    margin-top: 8px;
    border-top:2px solid;
    width: 30px;
    color: #6473FA;
    margin-right: 10px;
}
.menu-t {
    margin: 0;
    font-size: 12px;
    color: #6473FA;
}
.wrap-sub:nth-last-child(2){
    margin-bottom: 22px;
}
.dvd {
    width: 100%;
    min-height: 100px;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}

.contents {
    float: left;
    width: 350px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}
.contents {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

#slider-range {
    width: 90%;
    margin: 0 auto;
}
#time-range {
    width: 400px;
}
.placeholder {
    height: 60px;
    margin-top: 20px;
}
.main-head-title {
    font-size: 14pt;
    font-weight: bold;
}
.sub-main-head-title {
    font-size: 10pt;
}
.sub-main-head-p {
    font-size: 13.5pt;


}
hr {
    color: #c4c4c4;
}

